<div id="main-section">
  <div id="main-contents-sub">
    <div class="container">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 showboard">
        <% if @over_ten %>
          <%= link_to '以前のメッセージ', '?m=all' %>
        <% end %>
        
        <div class="ui segment list-container">
          <p class="list-heading">メッセージ一覧</p>

              <% @messages.each do |message| %>
                <% if message.body %>
                  
                  <div class="messagetop">
                    <% user = User.find(message.user_id) %>
                    <%= profile_img(user) %>
                    <div class="messageuser">
                      <p><%= user.name %></p>
                      <p><%= message.message_time %></p>
                    </div>

                  </div>
                  
                  <p><%= message.body %></p>
                  <Hr>
                <% end %>
              <% end %>

        </div>
        
        <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
          <div class="field messagefield">
            <%= f.text_area :body, class: "form-control" %>
          </div>
            <%= f.text_field :user_id, value: current_user.id, type: "hidden", class: "form-control"  %>
          <div>
            <%= f.submit "メッセージを送る", class: "btn btn-info btn-block"   %>
          </div>
        
        <% end %>
      </div>
    </div>
  </div>
</div>