
    <div class="container-fluid">
      <div class="row">
        
        <div id="en_carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#en_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#en_carousel" data-slide-to="1" class=""></li>
            <li data-target="#en_carousel" data-slide-to="2" class=""></li>
          </ol>
        
        
          <div class="carousel-inner ent-car" role="listbox">
            <div class="item active">
              <img src="<%= asset_path 'entranceslider.PNG' %>" />
            </div>
            <div class="item">
              <img src="<%= asset_path 'entranceslider.PNG' %>" />
            </div>
            <div class="item">
              <img src="<%= asset_path 'entranceslider.PNG' %>" />
            </div>
          </div>
        
          <a class="left carousel-control" href="#en_carousel" data-slide="prev">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" href="#en_carousel" data-slide="next">
            <span class="icon-next"></span>
          </a>
        </div>
        
      </div>
      <div  class="col-md-4 col-sm-10 col-sm-offset-1" id="loginfield">
        <h2>ログイン</h2>
    
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
    
          <div class="field">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email" %>
          </div>
    
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
          </div>
    
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :内容を記憶させる %>
            </div>
          <% end %>
    
          <div class="actions">
            <%= f.submit "ログイン", class: "signupbtn" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
        </div>
      </div>
   
    
    <div class="sec1">
      <div class="container">
        <h2 style="height:400px">Newslideの主な機能</h2>
      </div>
    </div>
    <div class="sec2" style="height:400px">
      <h2 style="height:400px">Newsideの価値提案</h2>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="well">
            <p class="lead" style="text-align:left">ログイン</p>
            <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
          
                <div class="field form-group">
                  <label for="username" class="control-label toleft">Eメールアドレス</label>
                  <%= f.email_field :email, class: "form-control", placeholder: "Eメールアドレス" %>
                </div>
          
                <div class="field form-group">
                  <label for="password" class="control-label toleft">パスワード</label>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
                </div>
          
                <% if devise_mapping.rememberable? %>
                  <div class="field toleft">
                    <%= f.check_box :remember_me %>
                    <%= f.label :内容を記憶させる %>
                  </div>
                <% end %>
          
                <div class="actions">
                  <%= f.submit "ログイン", class: "btn btn-success btn-block" %>
                </div>
                <% end %>
              <%= link_to 'パスワードを忘れた場合', 'users/password/new',style: 'text-align:center' %>
              <div style="height:10px;display:block"></div>  
              <%= link_to 'Facebookでログイン', 'users/auth/facebook',class:'btn btn-info btn-block nomargin' %>
              <%= link_to 'Twitterでログイン', 'users/auth/twitter' ,class: 'btn btn-info btn-block nomargin' %>
            </form>
          </div>
        </div>
        <div class="col-xs-6">
          <div style="padding:19px">
            <p class="lead" style="text-align:left">無料で会員登録</p>
            <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
              <%= devise_error_messages! %>
        
              <div class="field form-group">
                <label for="username" class="control-label toleft">Eメールアドレス</label>
                <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
              </div>
        
              <div class="field form-group">
                <label for="username" class="control-label toleft">名前</label>
                <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
              </div>
        
              <div class="field form-group">
                <label for="password" class="control-label toleft">パスワード</label>
                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
              </div>
        
              <div class="field">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード（確認）" %>
              </div>
        
              <div class="actions">
                <div style="height:10px;display:block"></div>
                <%= f.submit "無料で登録", class: "btn btn-success btn-block" %>
              </div>
            <% end %>
            <div style="height:10px;display:block"></div>
            <%= link_to 'Facebookで登録', 'users/auth/facebook',class:'btn btn-info btn-block nomargin' %>
            <%= link_to 'Twitterで登録', 'users/auth/twitter' ,class: 'btn btn-info btn-block nomargin' %>
          </div>
        </div>    
      </div>
    </div>
     
  <div class="sec2" style="height:400px">

  </div>
  
