<div id="main-section">
  <div id="main-contents-sub">
    <div class="container">
      <h2 class="contentstitle">ユーザー一覧</h2>
      <% @users.each do |user| %>
      　<% if user.id != current_user.id %>
          <div class="container-child col-md-4 col-sm-4 col-xs-6 ">
            <div id="usercard">
              <div class="row" id="profilecontents">
                <div id="profileimg"><%= profile_img(user) %></div>
                  <%= link_to user_path(user) do %>
                    <p><%= user.name %></p>
                    <li style="list-style:none">
                      <div class="item">
                        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
                      </div>
                        <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
                    </li>
                  <% end %>
                    <p><%= user.affiliation %></p>
                    <p><%= user.discription %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      
      <%= link_to user_path(current_user) do %>
        <div class="boardplus">
          <p>マイページを表示</p>
        </div>
      <% end %>
      
    </div>
  </div>
</div>