

   <p>内容を確認してください</p>

        <%= form_for(@contact) do |f| %>
          <%= f.label :お問い合わせ %>
          <%= f.hidden_field :contents, class: "form-control", placeholder: "パスワード" %>
          <br>
          <%= f.label :メールアドレス %>
          <%= f.hidden_field :mail, class: "form-control", placeholder: "パスワード" %>
          <br>
          <%= f.label :お問い合わせ %>
          <p>お問い合わせ</p>
          <p><%= @contact.contents %></p>
          <p>メールアドレス</p>
          <p><%= @contact.mail %></p>
          
          <%= f.submit '送信する', class: "btn btn-info btn-block" %>
        <% end %>



        <%= form_for(@contact, url: choose_new_or_edit) do |f| %>
          <%= f.label :お問い合わせ %>
          <%= f.hidden_field :contents, class: "form-control", placeholder: "パスワード" %>
          <br>
          <%= f.label :メールアドレス %>
          <%= f.hidden_field :mail, class: "form-control", placeholder: "パスワード" %>
          <br>
          <%= f.submit '戻る', name: 'back', class: "btn btn-info btn-block" %>
        <% end %>