<div class="container">
  <h1>ニュース一覧</h1>
  <%= link_to "新規作成", new_board_path, class: 'btn btn-info' %>
  <div style="height:50px;display:block"></div>
  <Hr>
  <% @boards.each do |board| %>
    
    <%= link_to board_path(board) do %>
      <p><%= board.board_title %></p>
    <% end %>
    <img src="<%= board.board_image %>" />
    <p>URL:<%= board.board_url %></p>
    <p>title:<%= board.board_title %></p>
    <p>discription:<%=board.board_discription %></p>
    
    <Hr>
  <% end %>
  
  <%= link_to "新規作成", new_board_path, class: 'btn btn-info' %>
</div>