<div id="sidebar-secondary">
  <p><i class="fa fa-search fa-lg" style="color:#009DCF"></i> カテゴリーで探す</p>
  <Hr>
  <ul>
    <li><a href="/">すべて</a></li>
    <li><%= link_to 'テクノロジー',:controller => 'boards', :action => 'index', :category =>'technology' %></li>
    <li><%= link_to 'ビジネス',:controller => 'boards', :action => 'index', :category =>'business' %></li>
    <li><%= link_to '政治・経済',:controller => 'boards', :action => 'index', :category =>'economic' %></li>
    <li><%= link_to '金融・マーケット',:controller => 'boards', :action => 'index', :category =>'market' %></li>
    <li><%= link_to 'キャリア･教育',:controller => 'boards', :action => 'index', :category =>'education' %></li>
    <li><%= link_to '社会・スポーツ',:controller => 'boards', :action => 'index', :category =>'sports' %></li>
  </ul>

</div>


<div id="main-section">
  <div id="main-contents">
      <div class="container">
        
        
        <h1 class="contentstitle">記事一覧</h1>

        <% @boards.each do |board| %>
          
          <div class="boardpanelbig col-sm-4">
            <%= link_to board_path(board) do %>
              <div class="boardpanelsmall">
                <div class="boardimg">
                  <% if board.board_image.blank? %>
                    <img src="<%= asset_path 'no_image.png' %>" />
                  <% else %>
                    <img src="<%= board.board_image %>" />
                  <% end %>
                </div>
                <Hr style="margin:0">
                
                <p class="boardtitle"><%= board.board_title %></p>
                
                <p class="boarddiscription"><%=board.board_discription %></p>
                
                <div class="boardurl">
                 <Hr style="margin:0">
                 <p>参照元:<br /><span class="urlurl"><%= board.board_url %></span></p>
                </div>
                
              </div>
            <% end %>
          </div>
          
        <% end %>
        
        <%= link_to new_board_path do %>
          <div class="boardplus">
            <p><i class="fa fa-plus" aria-hidden="true"></i> 記事を追加する</p>
          </div>
        <% end %>
      </div>

  </div>
</div>