<h1>ニュース一覧</h1>

<% @boards.each do |board| %>
  <p>URL:<%= board.board_url %></p>
  <%= link_to board_path(board) do %>
    <p>タイトル:<%= board.board_title %></p>
  <% end %>
  <p>本文:<%= board.board_content %></p>
<% end %>

<%= link_to "新規作成", new_board_path %>