<p>board#show</p>

<p>Board情報</p>


 <p>board_url:<%= @board.board_url %></p>
 <p>board_title<%= @board.board_title %></p>
 <p>board_content<%= @board.board_content %></p>

<% @posts.each do |posts| %>
    <p>post:<%= posts.id %></p>
<% end %>

<p>コレ！</p><%= @comments %>


<p style="height:500px"></p>

<p>aaaaaa</p>
<%= stylesheet_link_tag 'social_button' %>

    <ul class="share-buttons js-socialActionArea">
      <li class="facebook" data-url="<%= request.url %>"><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fjob-share.net%2F&t=JobShare-%E5%8F%8B%E9%81%94%E6%B1%82%E4%BA%BA%E5%BF%9C%E6%8F%B4%E3%82%B5%E3%82%A4%E3%83%88" target="_blank"><img src="<%= asset_path "facebook.PNG" %>" /></a></li>
      <li class="twitter" data-url="<%= request.url %>"><a href="https://twitter.com/share" class="twitter-share-button" data-via="pichi_hiroshi"><img src="<%= asset_path "twitter.PNG" %>" /></a></li>
    </ul>
    
<p style="height:500px"></p>


<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>




<%#= http://qiita.com/okappy/items/1e0687027bd9efea321f %>