<div id="sidebar-secondary">
  <p><i class="fa fa-search fa-lg" style="color:#009DCF"></i> カテゴリーで探す</p>
  <Hr>
  <ul>
    <li><a href="/">すべて</a></li>
    <li><%= link_to 'テクノロジー',:controller => 'boards', :action => 'index', :category =>'technology' %></li>
    <li><%= link_to 'ビジネス',:controller => 'boards', :action => 'index', :category =>'business' %></li>
    <li><%= link_to '政治・経済',:controller => 'boards', :action => 'index', :category =>'economic' %></li>
    <li><%= link_to '金融・マーケット',:controller => 'boards', :action => 'index', :category =>'market' %></li>
    <li><%= link_to 'キャリア･教育',:controller => 'boards', :action => 'index', :category =>'education' %></li>
    <li><%= link_to '社会・スポーツ',:controller => 'boards', :action => 'index', :category =>'sports' %></li>
  </ul>
</div>

<div id="main-section">
  <div id="main-contents">
      
     <div class="searcharea">
        <div class="searcharea collapse in" id="demo">
          <% unless params[:q].blank? %>
          <h1 class="searchtitle" style="margin-top:0;padding-top:10px">  検索結果</h1>
            <% @topics.each do |topics| %>
              <%= link_to board_path(topics) do %>
                <div class="searchresults">
                  <span><img src="<%= topics.board_image %>" /></span>
                  <span style="margin-left:10px"><%= topics.board_title %></span>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      
      <% unless flash[:notice].blank? %>
        <div class="noticeresults">
          <p><%= notice %><%= alert %></p>
        </div>
      <% end %>
      
    
        
    <%= search_form_for @search do |f| %>
          <% f.label :board_title_cont, '' %>
          <%= f.search_field :board_title_cont, placeholder: '  記事を検索する', class: 'searchbox' %>
          
          <div>
            <%#= f.submit '', class: 'searchbtn' %>
            <%#= button_tag sanitize('<i class="fa fa-search"></i> 検索'), :type => "submit",:class =>"btn btn-default btn-s-md searchbtn" %>
            <button type="submit" class="btn btn-default btn-s-md searchbtn" data-toggle="collapse" data-target="#demo">
              <i class="fa fa-search"></i> 検索
            </button>
          </div>
    <% end %>
    
    <div style="background-color:#FBFBFB">
      <div class="container">    
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 showboard">
          <div class="boardpanelsmall showboardpanel" style="position:relative">
              
               <div class="boardshowimg">
                 <% if @board.board_image.blank? %>
                   <img src="<%= asset_path 'no_image.png' %>" />
                 <% else %>
                   <img src="<%= @board.board_image %>" />
                 <% end %>
               </div>
               
               <% if @board.board_title.blank? %>
                 <p class="boardtitle">タイトルが読み取れませんでした。編集ボタンからタイトルを入力してください。</p>
               <% else %>
                 <p class="boardtitle"><%= @board.board_title %></p>
               <% end %>
               
               
               <% if @board.board_discription.blank? %>
                 <p class="boarddiscription">説明文が読み取れませんでした。編集ボタンから説明文を入力してください。</p>
               <% else %>
                 <p class="boarddiscription"><%= @board.board_discription %></p>
               <% end %>
              
              <p class="urlurl boardshowurl"> 参照元:<br /><a href="<%= @board.board_url %>"><%= @board.board_url %></a></p>
               
          </div>
          <% if current_user.id == @board.user_id %>
            <span style="float:right;padding-top:5px">
                <a href="#" style="padding-right:5px"><span>編集</span></a>
                <a href="#"><span style="padding-right:5px">削除</span></a>
            </span>
          <% end %>
            
          <div style="height:30px;display:block"></div>

          <div id="usercardboardshow">
            <p style="text-align:left;margin-left:40px;font-size:17px">記事を作成したユーザー</p>
            <Hr style="margin: 10px 0">
            <div class="row" id="profilecontents">
              <div class"container-child">
                <div class="col-sm-3 col-xs-3">
                  <%= link_to user_path(@user) do %> 
                    <div id="profileimg">
                      <% if @user.image_url.blank? %>
                      <%= profile_img(@user) %>
                      <% else %>
                        <img src="<%= @user.image_url %>" />
                      <% end %>
                    </div>
                  </div>
                  <div class="col-sm-7 col-sm-7">
                    <p id="username"><%= @user.name %></p>
                  <% end %>
                  <p id="useraffiliation"><%= @user.affiliation %></p>
                  <p id="userdiscription"><%= @user.discription %></p>
                </div>
              </div>
            </div>  
            
            <span id="usermessageboardshow"><%= link_to 'メッセージを送る', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: 'btn btn-large btn-success' %></span>
            <span id="userfollowboardshow"><%= render partial: 'users/follow_form', locals: { user: @user } if signed_in?   %></span>
          </div>

        <div style="height:30px;display:block"></div>  
        
        </div>
      </div>    
    </div>
    
    <div class="container">    
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 showboard">

            <div style="height:30px;display:block"></div>
            <div id="posts_area">
              <% if @posts.ids.blank? %>
                <div class="slidewhich">
                 <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i><span>この記事に対して投稿されたスライドはありません。</span></p>
                </div>
              <% else %>
                <%= render partial: 'posts/index', locals: { posts: @posts, board: @board } %>
              <% end %>
            </div>

            <%= render partial: 'posts/form', locals: { post: @post, board: @board } %>

        
            
            <p style="height:50px"></p>
            <%= stylesheet_link_tag 'social_button' %>
            
                <ul class="share-buttons js-socialActionArea">
                  <li class="facebook" data-url="<%= request.url %>"><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fjob-share.net%2F&t=JobShare-%E5%8F%8B%E9%81%94%E6%B1%82%E4%BA%BA%E5%BF%9C%E6%8F%B4%E3%82%B5%E3%82%A4%E3%83%88" target="_blank"><img src="<%= asset_path "facebook.PNG" %>" /></a></li>
                  <li class="twitter" data-url="<%= request.url %>"><a href="https://twitter.com/share" class="twitter-share-button" data-via="pichi_hiroshi"><img src="<%= asset_path "twitter.PNG" %>" /></a></li>
                </ul>
                
            <p style="height:50px"></p>
            
        <div class="snnbox">
            <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
            <i class="fa fa-heart fa-3x" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
            <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
        </div>
  
        <% unless flash[:notice] %>
          <% if params[:q].blank? %>
            <%= link_to new_board_path do %>
              <div class="boardplus">
                <p><i class="fa fa-plus" aria-hidden="true"></i> 記事を追加する</p>
              </div>
            <% end %>
          <% end %>
        <% end %>
            
          </div>
        </div>
    </div>
</div>
        