<p>posts/_form.html.erb</p>
<%= form_for([board,post], remote: true) do |f| %>
<%#= form_for([board,post]) do |f| %>
  <%= f.hidden_field :board_id %>
  <div class="field">
      <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
      <%= f.text_field :message, placeholder: "本文", class: "form-control" %>
  </div>
  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>