<h3>以下の内容で送信する</h3>

<%= form_for(@post) do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :message %>
  
  <p>タイトル:<%= @post.title %></p>
  <p>本文:<%= @post.message %></p>
  <%= f.submit"登録する" %>
<% end %>

<%= form_for(@post, url: new_post_path, method: 'get') do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :message %>
  <%= f.submit "戻る", name: 'back' %>
<% end %>