<!DOCTYPE html>
<html>
<head>
  <title>Newslide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="<%= asset_path 'nfab.ico' %>">
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <!-- <script src="https://js.pusher.com/3.0/pusher.min.js"></script> -->
  <% if user_signed_in? %>
    <script>
      var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
        encrypted: true
      });

      var channel = pusher.subscribe("user_<%= current_user.id %>_channel");
      channel.bind('comment_created', function(data) {
        alert(data.message);
      });
      channel.bind('notification_created', function(data) {
        $('#unread_count').html(data.unread_count);
      });
    </script>
  <% end %>
</head>
<body>
  
<% if user_signed_in? %>
  <header style="height:80px;position:fixed">
<% else %>
  <header style="height:110px">
    <div class="beforeloginbar">
      <div class="container">
        <p><strong>Newslide</strong>｜ニュースにグラフ付きのコメントをくっつけてシェアしよう</p>
      </div>
    </div>
<% end %>
    <div id="logo">
      <a href="/"></a>
    </div>
    <% unless user_signed_in? %>
    <div class="container">
    <% end %>
      
      <ul class="wrap">
        
      <% if user_signed_in? %>
        <li class="wrapli">
          <a href="/boards/new" id="usericon">
            <i class="fa fa-plus" aria-hidden="true"><br>
            <span>記事作成</span></i>
          </a>
        </li>
        
        <li class="wrapli">
          <a href="/contacts/new" id="usericon">
            <i class="fa fa-question" aria-hidden="true"><br>
            <span>お問い合わせ</span></i>
          </a>
        </li>

        <li class="bell wrapli">
          <%= link_to  notifications_index_path, class: "navbar-brand usericon" do %>
            <i class="fa fa-bell fa-lg">
              <span id="unread_count"><%= @notifications_count %></span><br>
              <span style="padding-left:20px">お知らせ</span>
            </i>
        </li>
        <% end %>

        <li class="dropdown wrapli" style="border-left: 1px solid #ddd">
          <a href="#" class="dropdown-toggle"  id="usericon" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            <i class="fa fa-angle-down" aria-hidden="true"><br>
            <span>ユーザー</span></i>
          </a>
          
          <ul class="dropdown-menu userdropdown">
            <div>
              <p><%= current_user.name %></p>
              <% if current_user.image_url.blank? %>
                <span  class="dropdownimg"><%= profile_img(current_user) %></span>
              <% else %>
                <img src="<%= current_user.image_url %>" class="dropdownimg" />
              <% end %>
              
            </div>
            <Hr>
            <li><%= link_to 'ユーザー情報の編集', edit_user_registration_path(current_user) %></li>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
  
      <% else %>
        <li class="outwrapli"><button type="button" class="btn signupbtn" data-toggle="modal" data-target="#loginmodal">ログイン／無料で登録</button></li>
          <div class="modal fade" id="loginmodal">
            <div id="login-overlay" class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title tocenter" id="myModalLabel">ログイン／無料で登録</h4>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                          <div class="col-xs-6">
                            <div class="well">
                              <p class="lead" style="text-align:left">ログイン</p>
                              <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                  <%= devise_error_messages! %>
                            
                                  <div class="field form-group">
                                    <label for="username" class="control-label toleft">Eメールアドレス</label>
                                    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Eメールアドレス" %>
                                  </div>
                            
                                  <div class="field form-group">
                                    <label for="password" class="control-label toleft">パスワード</label>
                                    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
                                  </div>
                            
                                  <% if devise_mapping.rememberable? %>
                                    <div class="field toleft">
                                      <%= f.check_box :remember_me %>
                                      <%= f.label :内容を記憶させる %>
                                    </div>
                                  <% end %>
                            
                                  <div class="actions">
                                    <%= f.submit "ログイン", class: "btn btn-success btn-block" %>
                                  </div>
                                  <% end %>
                                <%= link_to 'パスワードを忘れた場合', 'users/password/new',style: 'text-align:center' %>
                                <div style="height:10px;display:block"></div>  
                                <%= link_to 'Facebookでログイン', 'users/auth/facebook',class:'btn btn-info btn-block nomargin' %>
                                <%= link_to 'Twitterでログイン', 'users/auth/twitter' ,class: 'btn btn-info btn-block nomargin' %>
                              </form>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div style="padding:19px">
                              <p class="lead" style="text-align:left">無料で会員登録</p>
                              <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
                                <%= devise_error_messages! %>
                          
                                <div class="field form-group">
                                  <label for="username" class="control-label toleft">Eメールアドレス</label>
                                  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
                                </div>
                          
                                <div class="field form-group">
                                  <label for="username" class="control-label toleft">名前</label>
                                  <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
                                </div>
                          
                                <div class="field form-group">
                                  <label for="password" class="control-label toleft">パスワード</label>
                                  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
                                </div>
                          
                                <div class="field">
                                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード（確認）" %>
                                </div>
                          
                                <div class="actions">
                                  <div style="height:10px;display:block"></div>
                                  <%= f.submit "無料で登録", class: "btn btn-success btn-block" %>
                                </div>
                              <% end %>
                              <div style="height:10px;display:block"></div>
                              <%= link_to 'Facebookで登録', 'users/auth/facebook',class:'btn btn-info btn-block nomargin' %>
                              <%= link_to 'Twitterで登録', 'users/auth/twitter' ,class: 'btn btn-info btn-block nomargin' %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <% end %>
      </ul>
  <% unless user_signed_in? %>
  </div>
  <% end %>
    
  </header>
<%
=begin
%>
<% if user_signed_in? %>
    <div style="display:block;height:100px"></div>
<% else %>
    <div style="display:block;height:130px"></div>
<% end %>
<%
=end
%>

<% if user_signed_in? %>
  <div id="sidebar">
    <ul class="gnav-primary">
      <li><a href="/"><i class="fa fa-home" id="sidebar-icon"></i><br>記事一覧</a></li>
      <li><a href="/users"><i class="fa fa-users" id="sidebar-icon"></i><br>Userを探す</a></li>
      <li><a href="/conversations"><i class="fa fa-envelope-o" id="sidebar-icon"></i><br>メッセージ</a></li>
    </ul>
  </div>
  <div style="display:block;height:80px"></div>
<% end %>



<%= yield %>
<div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top"><span id="scroll">'</span></a></p>
</div>
<p style="height:100px"></p>
  <footer>
    <ul class="footer-links">
      <li><a href="/terms">利用規約</a></li>
      <li><a href="/privacy">プライバシーポリシー</a></li>
    </ul>
    <p><small>Copyright © Hiroshi Takahashi, Inc. All Rights Reserved.</small></p>
  </footer>

</body>
</html>
