<!DOCTYPE html>
<html>
<head>
  <title>Newslide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  
<% if user_signed_in? %>
  <header style="height:100px">
<% else %>
  <header style="height:130px">
    <div class="beforeloginbar">
      <div class="container">
        <p><strong>Newslide</strong>｜ニュースにグラフ付きのコメントをくっつけてシェアしよう</p>
      </div>
    </div>
<% end %>
  
    <div class="container">
      <a href="/" id="logo"><img src="<%= asset_path "newslide_logo2.PNG"%>" /></a>
      <ul>
      <% if user_signed_in? %>
      
        <li><%= link_to 'ユーザー一覧', users_path %></li>
        <li><%= link_to 'マイページ', user_path(current_user) %></li>
        <li>削除<%#= link_to 'posts#index', posts_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      
      <% else %>
        <li><button type="button" class="btn signupbtn" data-toggle="modal" data-target="#loginmodal">ログイン／無料で登録</button></li>
          <div class="modal fade" id="loginmodal">
            <div id="login-overlay" class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title tocenter" id="myModalLabel">ログイン／無料で登録</h4>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                          <div class="col-xs-6">
                            <div class="well">
                              <p class="lead" style="text-align:left">ログイン</p>
                              <form id="loginForm" method="POST" action="/login/" novalidate="novalidate">
                                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                  <%= devise_error_messages! %>
                            
                                  <div class="field form-group">
                                    <label for="username" class="control-label toleft">Eメールアドレス</label>
                                    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Eメールアドレス" %>
                                  </div>
                            
                                  <div class="field form-group">
                                    <label for="password" class="control-label toleft">パスワード</label>
                                    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
                                  </div>
                            
                                  <% if devise_mapping.rememberable? %>
                                    <div class="field toleft">
                                      <%= f.check_box :remember_me %>
                                      <%= f.label :内容を記憶させる %>
                                    </div>
                                  <% end %>
                            
                                  <div class="actions">
                                    <%= f.submit "ログイン", class: "btn btn-success btn-block" %>
                                  </div>
                                  <% end %>
                                <%= link_to 'パスワードを忘れた場合', 'users/password/new',style: 'text-align:center' %>
                                <div style="height:10px;display:block"></div>  
                                <%= link_to 'Facebookでログイン', 'users/auth/facebook',class:'btn btn-info btn-block nomargin' %>
                                <%= link_to 'Twitterでログイン', 'users/auth/twitter' ,class: 'btn btn-info btn-block nomargin' %>
                              </form>
                            </div>
                          </div>
                          <div class="col-xs-6">
                            <div style="padding:19px">
                              <p class="lead" style="text-align:left">無料で会員登録</p>
                              <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
                                <%= devise_error_messages! %>
                          
                                <div class="field form-group">
                                  <label for="username" class="control-label toleft">Eメールアドレス</label>
                                  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
                                </div>
                          
                                <div class="field form-group">
                                  <label for="username" class="control-label toleft">名前</label>
                                  <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
                                </div>
                          
                                <div class="field form-group">
                                  <label for="password" class="control-label toleft">パスワード</label>
                                  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
                                </div>
                          
                                <div class="field">
                                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード（確認）" %>
                                </div>
                          
                                <div class="actions">
                                  <div style="height:10px;display:block"></div>
                                  <%= f.submit "無料で登録", class: "btn btn-success btn-block" %>
                                </div>
                              <% end %>
                              <div style="height:10px;display:block"></div>
                              <%= link_to 'Facebookで登録', 'users/auth/facebook',class:'btn btn-info btn-block nomargin' %>
                              <%= link_to 'Twitterで登録', 'users/auth/twitter' ,class: 'btn btn-info btn-block nomargin' %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <% end %>
      </ul>
    </div>
  </header>
<%
=begin
%>
<% if user_signed_in? %>
    <div style="display:block;height:100px"></div>
<% else %>
    <div style="display:block;height:130px"></div>
<% end %>
<%
=end
%>
<%= yield %>
<p style="height:100px"></p>
  <footer>
    <p>NEW Slide</p>
  </footer>

</body>
</html>
